.get-started-btn {
  color: #fff;
  background: var(--cyan);
  font-family: var(--poppins-font);
  font-size: 17px;
  padding: 11px;
  width: 170px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
}

@media (min-width: 900px) {
  .cta-btn {
    margin: 30px 0;
  }
}