.button {
  color: #fff;
  background: var(--cyan);
  font-family: var(--poppins-font);
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 16px;
  padding: 11px;
  z-index: 3;
}

.button:hover {
  background: var(--button-hover);
}

.get-started-btn {
  font-size: 17px;
  width: 170px;
  display: block;
  margin: 20px auto;
}

.sign-up-btn {
  padding: 12px;
  width: 245px;
}

.shorten-btn {
  border-radius: 5px;
}

.copy-btn {
  border-radius: 4px;
  font-size: 12px;
  width: 80px;
  height: 30px;
  padding: 5px 0;
}

.highlighted {
  background: var(--very-dark-violet)
}

.highlighted:hover {
  background: var(--very-dark-violet)
}

@media (min-width: 900px) {
  .get-started-btn {
    margin: 20px 0;
  }

  .sign-up-btn {
    font-size: 14px;
    padding: 7px 20px;
    width: auto;
    border-radius: 20px;
  }
}

@media (min-width: 600px) {
  .shorten-btn {
    border-radius: 8px;
    width: 170px;
  }

  .copy-btn {
    font-size: 13px;
    height: 34px;
    width: 90px;
  }
}