nav {
  display: flex; 
  justify-content: space-between;
  padding: 30px 30px;
  max-width: var(--side-margin);
  margin: auto;
}

.logo {
  width: 100px;
}

.nav-toggle {
  width: 24px;
  height: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.nav-toggle-icon {
  width: 100;
  border-bottom: 3px solid var(--grayish-violet);
}

.nav-exit-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.nav-links-background {
  z-index: 5;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  width: 90%;
  max-width: 600px;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--dark-violet);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}

.nav-links-container {
  text-align: center;
  padding: 20px 0;
}

.nav-links-container:nth-of-type(1) {
  border-bottom: 1px solid var(--grayish-violet);
}

.nav-links-container:nth-of-type(2) li:nth-of-type(1) {
  padding-top: 20px;
}

.nav-links-container li {
  padding: 0 0 20px;
  font-weight: 700;
  cursor: pointer;
}

@media (min-width: 900px) {
  nav {
    gap: 40px;
    align-items: center;
    margin: 30px auto;
    padding: 0 60px;
    justify-content: start;
  }

  .nav-toggle {
    display: none;
  }

  .nav-links-background {
    color: var(--grayish-violet);
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 0;
    inset: auto;
    transform: none;
    background: none;
    border-radius: 0;
  }

  .nav-links-container {
    visibility: visible;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 14px;
    gap: 40px;
  }

  .nav-links-container:nth-of-type(1) {
    border: none;
    margin-right: auto;
  }

  .nav-links-container:nth-of-type(2) li:nth-of-type(1) {
    padding-top: 0;
  }

  .nav-links-container li {
    font-weight: 500;
    height: 0px;
  }

  .nav-links-container li:hover {
    color: var(--very-dark-violet);
  }

  .sign-up-btn {
    color: #fff;
    background: var(--cyan);
    font-family: var(--poppins-font);
    font-size: 14px;
    padding: 7px 20px;
    width: auto;
    border: none;
    border-radius: 20px;
  }
}