:root {
  /* Colors */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
  --button-hover: #9ee3e3;

  /* Font */
  --poppins-font: font-family: 'Poppins', sans-serif;

  /* size/dimensions */
  --side-margin: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--grayish-violet)
}

ul {
  text-decoration: none;
  list-style: none;
}

